@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
	background: rgb(247, 219, 219);
	background: radial-gradient(
		circle,
		rgba(247, 219, 219, 1) 33%,
		rgba(255, 193, 193, 1) 100%
	);
}

	.hover\:rotate-360:hover {
    --tw-rotate: 360deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

}